@model CinemaWA.Models.Filme

@{
    ViewData["Title"] = "Create";
}

<body style="background-color:lightgray">
    <h4>Cadastrar Filme</h4>
    <hr />
    <form asp-action="Create">
        <div class="row">
            <div class="col-md-2">
        
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="FilmeNome" class="control-label"></label>
                        <input asp-for="FilmeNome" class="form-control" />
                        <span asp-validation-for="FilmeNome" class="text-danger"></span>
                    </div>
            </div>
             <div class="col-md-2">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Tipo" class="control-label"></label>
                        <input asp-for="Tipo" class="form-control" />
                        <span asp-validation-for="Tipo" class="text-danger"></span>
                    </div>
            </div>
             <div class="col-md-4">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Elenco" class="control-label"></label>
                        <input asp-for="Elenco" class="form-control" />
                        <span asp-validation-for="Elenco" class="text-danger"></span>
                    </div>
            </div>
            <div class="col-md-1 mt-4">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input type="submit" value="Cadastrar" class="btn btn-primary" />
                    </div>
            </div>
            <div class="col-md-1 mt-4">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <a class="btn btn-dark" asp-action="Index">Voltar</a>
                    </div>
            </div>
        </div>
    </form>
</body>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
