@model CinemaWA.Models.Reserva

@{
    ViewData["Title"] = "Create";
}

<body style="background-color:lightgray">
    <form asp-action="Create">
        <h4>Cadastrar Reserva</h4>
        <hr />
        <div class="row">
            <div class="col-md-2">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="ClienteId" class="control-label">Cliente</label>
                        <select asp-for="ClienteId" class ="form-control" asp-items="ViewBag.ClienteId"></select>
                    </div>
            </div>
            <div class="col-md-4">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="SessaoId" class="control-label">Sessão</label>
                        <select asp-for="SessaoId" class ="form-control" asp-items="ViewBag.SessaoId"></select>
                    </div>
            </div>
            <div class="col-md-2">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="AssentoId" class="control-label">Assento</label>
                        <select asp-for="AssentoId" class ="form-control" asp-items="ViewBag.AssentoId"></select>
                    </div>
            </div> 
            <div class="col-md-1 mt-4">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input type="submit" value="Cadastrar" class="btn btn-primary" />
                    </div>
            </div>
            <div class="col-md-1 mt-4">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <a class="btn btn-dark" asp-action="Index">Voltar</a>
                    </div>
            </div>
        </div>
    </form>
</body>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
